#intro {
    align-items: flex-start;
    height: max-content;
}

#info {
    margin-top: 15vh;
}

#description {
    font-size: 2vw;
    width: 70%;
    margin-left: 3vw;
}

img {
    width: 30vw;
    margin-top: 25vh;
}

h2 {
    margin: 3vw;
    font-size: 6vw;
    font-weight: 600;
}

::-webkit-scrollbar-track {
    border: 1px solid #555;
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb {
    background: black;  
    border-radius: 10px;
}