body {
    font-family: 'League Spartan';
    padding: 0%;
    margin: 0%;
    cursor:default;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid #555;
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: black;  
}

/*------------------------- Navebar ------------------------*/

.navbar {
    display: flex;
    text-align:center;
    align-items: center;
    gap: 3.2%;
    padding: 1vh 2vw;
    float: inline-start;
    position:fixed;
    top:0;
    width:96%;
    height:6vh;
    background-color: rgb(255, 255, 255);
    margin:0%;
    overflow: auto;
    list-style-type: none;
}

.push {
    margin-left:auto;
}

.nav-item li {
    display: inline;
    padding: 2.5%;

}

.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 500;
    color: black;
}


/*----------------------- Content ----------------------*/

.index-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro-text{
    width: 60%;
    margin-left: 3vw;
    padding-top: 35vh;
}

#intro {
    min-height: 100vh;
}

#title {
    background-image: url(gradient2.jpg);
    background-size: 60vw 10vw;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

#subtitle {
    font-weight: 300;
    color:#555;
    font-size: 3vw;
    width: 80%;
}
/*------------------ Typing effect ------------------*/
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #555; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /*letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end 4.1;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #555 }
  }

/* -------------------- MY WORK SECTION -----------------*/
#work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vw;
    width: 100%;
}

#work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.work-item {
    width: 35vw;
    height: max-content;
    border: 2px solid lightgray;
    border-radius: 2vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#react {
    order: 1
}
#knowtex {
    order: 2
}
#redesign {
    order:3
}
#persona {
    order: 4
}

.work-item-pic {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 2vw 2vw 0 0;

}

.work-item-text {
    width: 90%;
    height: 18vw;
    margin: 0 1vw;
    text-align: left;
}

button {
    padding: 1vw 1.5vw;
    border-radius: 1vw;
    text-align: center;
    background-color: black;
    color:white;
    border: 2px solid #555;
    box-shadow: lightgray;
    align-self: center;
    margin-bottom: 1vw;
    font-size: 1.5vw;
}

button:visited {
    background-color: black;
    color: white;
}

button:hover {
    background-color: white;
    color:black;
    cursor: pointer;
}

button:active {
    border-color: white;
}

/*------------- Text Sizes ------------*/
h1 {
    font-size: 6vw;
    font-weight: 700;
}

h2 {
    font-size: 4vw;
}

h3 {
    font-size: 2.5vw;
    font-weight: 600;
    margin: 1vw 0;
}

h4 {
    font-size: 1.5vw;
    font-weight: 200;
    margin: 0.5vw 0;

}

p {
    font-size: 1.8vw;
    font-weight: 300;
}