body {
    font-family:'League Spartan';
    padding: 0%;
    margin: 0%;
    cursor:default;
    overflow-x: hidden;
}
/*----------- NavBar ---------------*/
.navbar {
    display: flex;
    text-align:center;
    align-items: center;
    gap: 3.2%;
    padding: 1vh 2vw;
    float: inline-start;
    position:fixed;
    top:0;
    width:96%;
    height:6vh;
    background-color: rgb(255, 255, 255);
    margin:0%;
    overflow: auto;
    list-style-type: none;
}

.push {
    margin-left:auto;
}

.nav-item li {
    display: inline;
    padding: 2.5%;

}

.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 500;
    color: black;
}

.navbar li a:hover  {
    -webkit-text-stroke: 1px black;
}

.navbar li a:active  {
    color: white;
}


/*------------------Body ------------------*/
.body-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 0;
}

/*-------------- Intro --------------*/
#intro {
    height:100vh;
}
#title {
    background-position: 25% 75%;
    background-size: cover;
    background-image: url(textbg1.jpg);
    -webkit-background-clip: text;
    margin-top: 15%;
    margin-bottom: 3%;
    overflow-wrap: normal;
    width: 85%;
    text-align: center;
}

#obj {
    color:#555;
    font-style: italic;
    margin-bottom: 5%;
    width: 70%;
}

/*-------------- Containers --------------*/
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    width: 100%;
}
.row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 3% 0;
}

.row-start-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin: 3% 0;
}

/*------------- FONT SIZE -----------*/
h1 {
    font-size: 8vw;
    font-weight: 800;
}

h2 {
    font-size: 3.5vw;
    margin: 2vw 0 1.5vw;
    font-weight: 600;
}

.sec-subtitle {
    font-size: 2.5vw;
    text-align: center;
    margin: 2.5vw 0 1vw;
    font-weight: 500;
}

h3 {
    font-size: 2vw;
    font-weight:400;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
}

h4 {
    font-size: 1.5vw;
    margin: 5% auto 2%;
    font-weight: 400;
    text-align: center;
}

.sub-subtitle {
    font-size: 1.7vw;
    color: #555;
    font-style: italic;
    font-weight: light;
    font-weight: 300;
}

.blah {
    width: 45%;
    font-size: 1.5vw;
    margin: 1vw 20%;
    font-weight: 300;
    text-align: left;
}

p, li {
    font-size: 1.5vw;
    font-weight: 300;
    margin: 0.6vw 0;
}

a {
    text-decoration: none;
}

.hyperlink {
    text-align: center;
    color: #555;
    font-style: italic;
    text-decoration: underline;
}
/*---------------- Research ---------------*/
.aud-def {
    margin-top: 5vh;
}

#aud-description {
    width: 40%;
}

#aud-pic {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 2vw;
}

/*------------- Design ------------------*/
#design-choices {
    width:80%;
    margin-top: 3vh;
    flex-wrap: wrap;
}

.dc-item {
    width: 35%;
}

.dc-title {
    font-size: 1.7vw;
    font-weight: 400;
}

/*------------ Scroll Bar ----------------*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border: 1px solid;
    border-radius: 10px;
    background-color: transparent;
}
    
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: transparent;
}

/*-------------- Precedent Work --------------*/
.ex-pic{
    width: 40vw;
    height: 25vw;
    border-radius: 1vw;
    object-fit: cover;
}

.ex-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ex-description {
    font-size: 1.5vw;
    margin-top: 1vw;
}

.expandable-pic {
    transition:transform 0.25s ease;
    margin-bottom: 1.5vw;
}

.expandable-pic:hover {
    -webkit-transform:scale(1.25); /* or some other value */
    transform:scale(1.25);
}

/*------------ Expansive Box ------------*/
.expandable-box {
    vertical-align: top;
    height: auto !important;
    margin: 0.5vw;
    padding: 0.5vw;
    border-radius: 1vw;
}

.box-title {
    margin: 0;
    width: 90%;
    text-align: left;
}
  
  .expanded-content {
    display:none;
    margin: 1vw 0.25vw;
  }
  
  .show {
    display: none;
    text-decoration: none;
  }
  
  .hide:target + .show {
    display: flex;
    text-decoration: none;
  }
  
  .hide:target {
    display: none;
    text-decoration: none;
  }
  
  .hide:target ~ .expanded-content {
    display:inline;
    text-decoration: none;
  
  }
  
  @media print {
    .hide, .show {
      display: none;
    }
  }

